.dark-theme{
  --color-navbar-ft: #141414;
  --color-text: #fff2eb;
  --color-bg: #30383b;
  --color-body: #312e2d;
}

.change-theme{
  position: absolute;
  right: 5rem;
  top: 1.5rem;
  color: var(--icon-dark-mode);
  font-size: 1.5rem;
  cursor: pointer;
  opacity: 75%;
}